<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
      <p id="des">{{ site.description }}</p>
      
      <nav class="navbar">
        <!--div class="brand">📘</div-->
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul class="nav-links">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/materiali/sistemi-reti">Sistemi e Reti</a></li>
          <li><a href="{{ site.baseurl }}/materiali/programmazione-csharp">Programmazione C#</a></li>
          <li><a href="{{ site.baseurl }}/materiali/database">Database</a></li>
          <li><a href="{{ site.baseurl }}/materiali/intelligenza-artificiale">AI</a></li>
        </ul>
      </nav>
      <hr />
    </header>

    {{ content }}

    <footer>
      <hr />
      <p><small>© 2025 Franco Sicca, docente di Informatica</small></p>
    </footer>
  </body>
</html>
